name: JS
on:
  merge_group:
    types: [checks_requested]
  pull_request:
    paths:
      - '**.js'
      - '**.jsx'
      - '**.ts'
      - '**.tsx'
      - '**/package.json'
      - '**/bun.lock'

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      # @v2
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3

      - run: bun ci

      - name: lint
        run: "bun run lint"

      - name: typecheck
        run: "bun run typecheck"

      - name: test
        run: "bun run test"
